[build]
incremental = true

[profile.dev]
opt-level = 0
debug = 1
codegen-units = 16
incremental = true


[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=mold"]
